{#
    Each field type is rendered by a template fragment, which is determined
    by the name of your form type class (DateTimePickerType -> date_time_picker)
    and the suffix "_widget". This can be controlled by overriding getBlockPrefix()
    in DateTimePickerType.

    See https://symfony.com/doc/current/form/create_custom_field_type.html#creating-the-form-type-template
#}

{% block date_time_picker_widget %}
    <div class="input-group flatpickr">
        {{ block('datetime_widget') }}
        <button class="btn btn-outline-secondary" data-toggle type="button"><twig:ux:icon name="tabler:calendar-month" /></button>
        <button class="btn btn-outline-danger" data-clear type="button"><twig:ux:icon name="tabler:trash" /></button>
    </div>
{% endblock %}

{% block tags_input_widget %}
    <div class="input-group">
        {{ form_widget(form, {'attr': {'data-toggle': 'tagsinput', 'data-tags': tags|json_encode}}) }}
        <span class="input-group-text"><twig:ux:icon name="tabler:tags" /></span>
    </div>
{% endblock %}
