{% props tags %}

{% if not tags.empty %}
    <p class="post-tags">
        {% for tag in tags %}
            <a href="{{ path('blog_index', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
               class="badge badge-{{ tag.name == app.request.query.get('tag') ? 'success' : 'secondary' }}"
            >
                <i class="fa fa-tag"></i> {{ tag.name }}
            </a>
        {% endfor %}
    </p>
{% endif %}

