/.git
/public/build
/public/bundles
/var/log/*
var/sessions/*
/vendor
.dockerignore
.editorconfig
.env.local
.env.test
.gitignore
.php_cs.dist
.travis.yml
appveyor.yml
docker-compose.override.yml.dist
docker-compose.yml
Dockerfile
Makefile
phpunit.xml.dist
README.md
