parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Command\\\\AddUserCommand\\:\\:validateUserData\\(\\) has parameter \\$email with no type specified\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Method App\\\\Command\\\\AddUserCommand\\:\\:validateUserData\\(\\) has parameter \\$fullName with no type specified\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Method App\\\\Command\\\\AddUserCommand\\:\\:validateUserData\\(\\) has parameter \\$plainPassword with no type specified\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Method App\\\\Command\\\\AddUserCommand\\:\\:validateUserData\\(\\) has parameter \\$username with no type specified\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Parameter \\#1 \\$email of method App\\\\Entity\\\\User\\:\\:setEmail\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Parameter \\#1 \\$fullName of method App\\\\Entity\\\\User\\:\\:setFullName\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Parameter \\#1 \\$string of function Symfony\\\\Component\\\\String\\\\u expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Parameter \\#1 \\$username of method App\\\\Entity\\\\User\\:\\:setUsername\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Parameter \\#2 \\$plainPassword of method Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface\\:\\:hashPassword\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Command/AddUserCommand.php

		-
			message: "#^Call to an undefined method App\\\\Repository\\\\UserRepository\\:\\:findOneByUsername\\(\\)\\.$#"
			count: 1
			path: src/Command/DeleteUserCommand.php

		-
			message: "#^Parameter \\#1 \\$username of method App\\\\Utils\\\\Validator\\:\\:validateUsername\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Command/DeleteUserCommand.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(object\\)\\: mixed\\)\\|null, Closure\\(App\\\\Entity\\\\User\\)\\: array\\{int\\|null, string\\|null, string, string\\|null, string\\} given\\.$#"
			count: 1
			path: src/Command/ListUsersCommand.php

		-
			message: "#^Parameter \\#2 \\$recipient of method App\\\\Command\\\\ListUsersCommand\\:\\:sendReport\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Command/ListUsersCommand.php

		-
			message: "#^Parameter \\#3 \\$limit of method Doctrine\\\\ORM\\\\EntityRepository\\<object\\>\\:\\:findBy\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: src/Command/ListUsersCommand.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Form\\\\FormInterface\\:\\:isClicked\\(\\)\\.$#"
			count: 1
			path: src/Controller/Admin/BlogController.php

		-
			message: "#^Parameter \\#1 \\$author of method App\\\\Entity\\\\Post\\:\\:setAuthor\\(\\) expects App\\\\Entity\\\\User, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/BlogController.php

		-
			message: "#^Parameter \\#2 \\$token of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\AbstractController\\:\\:isCsrfTokenValid\\(\\) expects string\\|null, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Controller/Admin/BlogController.php

		-
			message: "#^Call to an undefined method object\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: src/Controller/BlogController.php

		-
			message: "#^Cannot call method getFullName\\(\\) on App\\\\Entity\\\\User\\|null\\.$#"
			count: 1
			path: src/Controller/BlogController.php

		-
			message: "#^Parameter \\#1 \\$author of method App\\\\Entity\\\\Comment\\:\\:setAuthor\\(\\) expects App\\\\Entity\\\\User, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 1
			path: src/Controller/BlogController.php

		-
			message: "#^Parameter \\#1 \\$query of method App\\\\Repository\\\\PostRepository\\:\\:findBySearchQuery\\(\\) expects string, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Controller/BlogController.php

		-
			message: "#^Parameter \\#1 \\$string of function htmlspecialchars expects string, string\\|null given\\.$#"
			count: 3
			path: src/Controller/BlogController.php

		-
			message: "#^Parameter \\#2 \\$limit of method App\\\\Repository\\\\PostRepository\\:\\:findBySearchQuery\\(\\) expects int, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Controller/BlogController.php

		-
			message: "#^Parameter \\#2 \\$tag of method App\\\\Repository\\\\PostRepository\\:\\:findLatest\\(\\) expects App\\\\Entity\\\\Tag\\|null, object\\|null given\\.$#"
			count: 1
			path: src/Controller/BlogController.php

		-
			message: "#^Cannot call method setPassword\\(\\) on Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null\\.$#"
			count: 1
			path: src/Controller/UserController.php

		-
			message: "#^Parameter \\#1 \\$user of method Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface\\:\\:hashPassword\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\PasswordAuthenticatedUserInterface, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 1
			path: src/Controller/UserController.php

		-
			message: "#^Parameter \\#2 \\$plainPassword of method Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface\\:\\:hashPassword\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/UserController.php

		-
			message: "#^Method App\\\\DataFixtures\\\\AppFixtures\\:\\:getPhrases\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Method App\\\\DataFixtures\\\\AppFixtures\\:\\:getPostData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Method App\\\\DataFixtures\\\\AppFixtures\\:\\:getRandomTags\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Method App\\\\DataFixtures\\\\AppFixtures\\:\\:getTagData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Method App\\\\DataFixtures\\\\AppFixtures\\:\\:getUserData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Parameter \\#1 \\$author of method App\\\\Entity\\\\Comment\\:\\:setAuthor\\(\\) expects App\\\\Entity\\\\User, object given\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Method App\\\\Entity\\\\Post\\:\\:getComments\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Method App\\\\Entity\\\\Post\\:\\:getTags\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Property App\\\\Entity\\\\Post\\:\\:\\$comments with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Property App\\\\Entity\\\\Post\\:\\:\\$tags with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:__serialize\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:__unserialize\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:getUserIdentifier\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$roles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: src/EventSubscriber/CheckRequirementsSubscriber.php

		-
			message: "#^Cannot call method getAuthor\\(\\) on App\\\\Entity\\\\Post\\|null\\.$#"
			count: 1
			path: src/EventSubscriber/CommentNotificationSubscriber.php

		-
			message: "#^Cannot call method getEmail\\(\\) on App\\\\Entity\\\\User\\|null\\.$#"
			count: 1
			path: src/EventSubscriber/CommentNotificationSubscriber.php

		-
			message: "#^Cannot call method getSlug\\(\\) on App\\\\Entity\\\\Post\\|null\\.$#"
			count: 1
			path: src/EventSubscriber/CommentNotificationSubscriber.php

		-
			message: "#^Cannot call method getTitle\\(\\) on App\\\\Entity\\\\Post\\|null\\.$#"
			count: 1
			path: src/EventSubscriber/CommentNotificationSubscriber.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$addresses of method Symfony\\\\Component\\\\Mime\\\\Email\\:\\:to\\(\\) expects string\\|Symfony\\\\Component\\\\Mime\\\\Address, string\\|null given\\.$#"
			count: 1
			path: src/EventSubscriber/CommentNotificationSubscriber.php

		-
			message: "#^Property App\\\\EventSubscriber\\\\RedirectToPreferredLocaleSubscriber\\:\\:\\$locales type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EventSubscriber/RedirectToPreferredLocaleSubscriber.php

		-
			message: "#^Method App\\\\Form\\\\DataTransformer\\\\TagArrayToStringTransformer\\:\\:reverseTransform\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/DataTransformer/TagArrayToStringTransformer.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(Symfony\\\\Component\\\\String\\\\UnicodeString\\)\\: mixed\\)\\|null, 'trim' given\\.$#"
			count: 1
			path: src/Form/DataTransformer/TagArrayToStringTransformer.php

		-
			message: "#^Parameter \\#1 \\$string of function Symfony\\\\Component\\\\String\\\\u expects string\\|null, mixed given\\.$#"
			count: 2
			path: src/Form/DataTransformer/TagArrayToStringTransformer.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\<string\\>, mixed given\\.$#"
			count: 1
			path: src/Form/DataTransformer/TagArrayToStringTransformer.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\|null, mixed given\\.$#"
			count: 1
			path: src/Form/DataTransformer/TagArrayToStringTransformer.php

		-
			message: "#^Parameter \\#1 \\$format of method App\\\\Utils\\\\MomentFormatConverter\\:\\:convert\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Form/Type/DateTimePickerType.php

		-
			message: "#^Method App\\\\Pagination\\\\Paginator\\:\\:getResults\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: src/Pagination/Paginator.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 2
			path: src/Pagination/Paginator.php

		-
			message: "#^Property App\\\\Pagination\\\\Paginator\\:\\:\\$results type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: src/Pagination/Paginator.php

		-
			message: "#^Class App\\\\Repository\\\\PostRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: src/Repository/PostRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PostRepository\\:\\:extractSearchTerms\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repository/PostRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PostRepository\\:\\:findBySearchQuery\\(\\) should return array\\<App\\\\Entity\\\\Post\\> but returns mixed\\.$#"
			count: 1
			path: src/Repository/PostRepository.php

		-
			message: "#^Class App\\\\Repository\\\\TagRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: src/Repository/TagRepository.php

		-
			message: "#^Class App\\\\Repository\\\\UserRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: T$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Method App\\\\Security\\\\PostVoter\\:\\:supports\\(\\) has parameter \\$subject with no type specified\\.$#"
			count: 1
			path: src/Security/PostVoter.php

		-
			message: "#^Method App\\\\Twig\\\\AppExtension\\:\\:getLocales\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/AppExtension.php

		-
			message: "#^Property App\\\\Twig\\\\AppExtension\\:\\:\\$localeCodes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/AppExtension.php

		-
			message: "#^Property App\\\\Twig\\\\AppExtension\\:\\:\\$locales type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/AppExtension.php

		-
			message: "#^Method App\\\\Twig\\\\SourceCodeExtension\\:\\:getController\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/SourceCodeExtension.php

		-
			message: "#^Method App\\\\Twig\\\\SourceCodeExtension\\:\\:getTemplateSource\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/SourceCodeExtension.php

		-
			message: "#^Method App\\\\Twig\\\\SourceCodeExtension\\:\\:showSourceCode\\(\\) has parameter \\$template with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Twig/SourceCodeExtension.php

		-
			message: "#^Parameter \\#1 \\$filename of function file expects string, string\\|false given\\.$#"
			count: 1
			path: src/Twig/SourceCodeExtension.php

		-
			message: "#^Parameter \\#1 \\$function of class ReflectionFunction constructor expects Closure\\|string, callable\\(\\)\\: mixed given\\.$#"
			count: 1
			path: src/Twig/SourceCodeExtension.php

		-
			message: "#^Property App\\\\Twig\\\\SourceCodeExtension\\:\\:\\$controller has no type specified\\.$#"
			count: 1
			path: src/Twig/SourceCodeExtension.php

		-
			message: "#^Cannot call method setApplication\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Command/AbstractCommandTest.php

		-
			message: "#^Method App\\\\Tests\\\\Command\\\\AbstractCommandTest\\:\\:executeCommand\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Command/AbstractCommandTest.php

		-
			message: "#^Method App\\\\Tests\\\\Command\\\\AbstractCommandTest\\:\\:executeCommand\\(\\) has parameter \\$inputs with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Command/AbstractCommandTest.php

		-
			message: "#^Parameter \\#1 \\$command of class Symfony\\\\Component\\\\Console\\\\Tester\\\\CommandTester constructor expects Symfony\\\\Component\\\\Console\\\\Command\\\\Command, object\\|null given\\.$#"
			count: 1
			path: tests/Command/AbstractCommandTest.php

		-
			message: "#^Cannot call method findOneByEmail\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Command/AddUserCommandTest.php

		-
			message: "#^Cannot call method isPasswordValid\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Command/AddUserCommandTest.php

		-
			message: "#^Property App\\\\Tests\\\\Command\\\\AddUserCommandTest\\:\\:\\$userData has no type specified\\.$#"
			count: 1
			path: tests/Command/AddUserCommandTest.php

		-
			message: "#^Yield can be used only with these return types\\: Generator, Iterator, Traversable, iterable\\.$#"
			count: 2
			path: tests/Command/AddUserCommandTest.php

		-
			message: "#^Yield can be used only with these return types\\: Generator, Iterator, Traversable, iterable\\.$#"
			count: 2
			path: tests/Command/ListUsersCommandTest.php

		-
			message: "#^Cannot call method find\\(\\) on object\\|null\\.$#"
			count: 2
			path: tests/Controller/Admin/BlogControllerTest.php

		-
			message: "#^Cannot call method findOneByTitle\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Controller/Admin/BlogControllerTest.php

		-
			message: "#^Parameter \\#2 \\$times of function str_repeat expects int, float given\\.$#"
			count: 1
			path: tests/Controller/Admin/BlogControllerTest.php

		-
			message: "#^Yield can be used only with these return types\\: Generator, Iterator, Traversable, iterable\\.$#"
			count: 4
			path: tests/Controller/Admin/BlogControllerTest.php

		-
			message: "#^Cannot access offset 'author' on mixed\\.$#"
			count: 1
			path: tests/Controller/BlogControllerTest.php

		-
			message: "#^Cannot access offset 'title' on mixed\\.$#"
			count: 1
			path: tests/Controller/BlogControllerTest.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 2
			path: tests/Controller/BlogControllerTest.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Controller/BlogControllerTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 1
			path: tests/Controller/BlogControllerTest.php

		-
			message: "#^Cannot call method getRepository\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Controller/DefaultControllerTest.php

		-
			message: "#^Yield can be used only with these return types\\: Generator, Iterator, Traversable, iterable\\.$#"
			count: 7
			path: tests/Controller/DefaultControllerTest.php

		-
			message: "#^Cannot call method findOneByEmail\\(\\) on object\\|null\\.$#"
			count: 1
			path: tests/Controller/UserControllerTest.php

		-
			message: "#^Yield can be used only with these return types\\: Generator, Iterator, Traversable, iterable\\.$#"
			count: 2
			path: tests/Controller/UserControllerTest.php

		-
			message: "#^Method App\\\\Tests\\\\Form\\\\DataTransformer\\\\TagArrayToStringTransformerTest\\:\\:getMockedTransformer\\(\\) has parameter \\$findByReturnValues with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Form/DataTransformer/TagArrayToStringTransformerTest.php

		-
			message: "#^Method App\\\\Tests\\\\Utils\\\\ValidatorTest\\:\\:testValidateFullNameEmpty\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Utils/ValidatorTest.php

		-
			message: "#^Property App\\\\Tests\\\\Utils\\\\ValidatorTest\\:\\:\\$validator has no type specified\\.$#"
			count: 1
			path: tests/Utils/ValidatorTest.php

