includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
    doctrine:
        objectManagerLoader: tests/object-manager.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
