{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>An email has been sent that contains a link that you can click to reset your password. This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    <div>
        {% if resetToken.token is defined %}

            <p>In a real application, the email below would be sent and the user would be redirected to the app_check_email route.</p>
            <div>
                {{ email|raw }}
            </div>
        {% else %}
            <p>Because the email address you entered does not exist we display this template, instead of revealing the user doesn't exist.</p>
        {% endif %}
    </div>
{% endblock %}
