{#
   Macros are comparable with functions in regular programming languages.
   They are useful to put often used HTML idioms into reusable elements
   to not repeat yourself.
   See http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% macro render_flash_messages() %}
    {% from _self import alert %}

    <div class="messages">
        {% for flash_message in app.session.flashBag.get('success') %}
            {{ alert(flash_message|trans) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro alert(text, class = 'success') %}
    {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
    <div class="alert alert-dismissible alert-{{ class }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ text }}
    </div>
{% endmacro %}
