// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

// Make sure the lato font is resolved correctly
$lato-font-path: '~lato-font/fonts';

$font-default: 17px;
$font-heading: 2.5rem;
$font-title: 1.85rem;

$secondary-color: #ecf0f1;
$gray-7500: #e9ecec;

@import "~bootswatch/dist/flatly/variables";
