<div class="section about">
    <div class="well well-lg">
        <p>
            {{ 'help.app_description'|trans|raw }}
        </p>
        <p>
            {{ 'help.more_information'|trans|raw }}
        </p>
        <p><strong>ESI Time:</strong> {{ "now"|date('H:i:s') }}</p>
    </div>
</div>