{% if not post.tags.empty %}
    <p class="post-tags">
        {% for tag in post.tags %}
            <a href="{{ path('blog_index', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
               class="badge badge-{{ tag.name == app.request.query.get('tag') ? 'success' : 'secondary' }}"
            >
                <twig:ux:icon name="tabler:tag" style="top: 0"/> {{ tag.name }}
            </a>
        {% endfor %}
    </p>
{% endif %}

